

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Sacramento|Abril+Fatface|Six+Caps|Cardo:400italic,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg'),
		url('../fonts/codropsicons/Jua-Regular.ttf') format('truetype'),
		url('../fonts/codropsicons/BlackHanSans-Regular.ttf') format('truetype'),
		url('../fonts//codropsicons/Anton-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Lato', Arial, sans-serif;
	color: #64696a;
	background: #fff;
}

a {
	color: #ddd;
	text-decoration: none;
}

a:hover, a:focus {
	color: #fff;
}

.codrops-header {
	width: 100%;
	height: 250px;
	position: relative;
	color: #fff;
	text-align: center;
	line-height: 300px;
	background: #2e3c74;
	background-size: cover;
}
.codrops-header .logo1{
	height: 90px;
	position: absolute;
	top: 5%;
	left: 20%;
}
.codrops-header h1 {
	padding-top: 100px;
	font-size: 2.625em;
	line-height: 1;
	margin: 0;
	font-weight: 300;
	font-family: 'Black Han Sans';
	
}

.codrops-header img{
	height: 30px;
}

.codrops-header h1 span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;

}
/* To Navigation Style */
.codrops-top {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	text-align: justify;
}

.codrops-top a {
	color: #f0f0f0;
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	color: #fff;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.swiper-wrapper h1{
	font-size: 20px;
}


.related {
	margin-top: 5em;
	color: #fff;
	background: #333;
	text-align: left;
	font-size:  17px;
	padding: 3em 0;
	overflow: hidden;
	height: 300px;
}


.related a {
	display: inline-block;
	text-align: left;
	margin: 20px auto;
	padding: 10px 20px;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
	opacity: 1;
}

.related img {
	text-align: left;
}

.related .info h2{
    position: relative;
    text-align: left;
	font-size: 35px;
    font-weight: bold;
    padding-left: 20%;
    margin: 0;
	padding-bottom: 1%;
    margin-bottom: 10px;
}
.related .info .content1{
    text-align: left;
    position: relative;
	padding-top: 4px;
	padding-left: 20%;
    margin-bottom: 19px;
    width: 100%;
}

ul, li{
    text-align: left;
	margin: 0px;
    padding: 0px;
    list-style: none;
    
}
li{
     margin: 20px 0px;
}

@media screen and (max-width: 40em) {

	.codrops-icon span {
		display: none;
	}

	.codrops-icon:before {
		font-size: 160%;
		line-height: 2;
	}

}